.border-img{
  border:solid 2px black;
  background-color:grey;
}

.panel-body {
  /* height: 480px; */
  /*height: calc(100vh - 200px);*/
  overflow-y: auto;
}

label.upload-group {
  display: block;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
  align-self: auto;
}

input#file
{
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

