<div class='panel panel-default'>
  <div class='panel-heading' style='font-size:large'>
    <a [routerLink]="['/user']"> My account </a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/user/tickets']"> Buy ticket</a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/user/movies']"> Search movies </a> &nbsp; &nbsp; &nbsp;
    <a [routerLink]="['/user/projections']"> Search projections </a>

  </div>


  <div class='panel-body'>
    <form id ="nazivfilma">
      <label> Pretraga naziva filma: </label>
      <input type="text" />
    </form>
    <form id ="zanrFilma">
      <label> Pretraga zanra filma: </label>
      <input type="text" />
    </form>
    <div class='table-responsive'>
      <p>Broj filmova ukupno: {{movies.length}}</p>
      <table class='table table-striped table-bordered' style="width: 800px;">
        <thead>
        <tr>
          <th>Ime filma</th>
          <th>Zanr</th>
          <th>Trajanje</th>
          <th>Opis</th>
        </tr>
        </thead>
        <tbody>

        <tr class="table-active" *ngFor="let m of movies | nazivfilma | zanrFilma">

          <td>

            <p>{{m.naziv}}</p>
          </td>
          <td>

            <p>{{m.zanr}}</p>
          </td>
          <td>

            <p>{{m.trajanje}}</p>
          </td>
          <td>

            <p>{{m.opis}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
